@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');

html{
    background-color: rgba(122, 191, 191, .5);
}
body{
    width: 414px;
    background-color: #f2f2f2;
    margin: 0 auto;
}

h1, h2, h3{
    font-family: 'Bebas Neue', cursive;
    margin: 0 auto;
    text-align: center;
}
h2{
    font-size: 30px;
}

nav a, figcaption, .menu li, #social li, footer{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

p, li, nav, input{
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


menu {
    width: 414px;
    list-style: none;
    display: flex;
    padding: 0;
    text-align: center;
}

menu a{
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    color: #EB5428;
}

menu ul li{
    flex: 1;
    padding: 0;
}

article img{
    width: 100%;
}

dl{
    display: grid;
    grid-template-columns: auto 2fr;
    grid-template-rows: auto;
    font-family: 'Montserrat', sans-serif;
    grid-gap: 5px;
    margin-left: 10px;
}

dt{
    font-weight: 700;
    font-size: 16px;
}

dd{
   margin-left: 10px;
}

#ingredients ul{
    padding-left: 25px;
    list-style-type: square;
}

#ingredients li{
    padding: 5px;
}

ol{
    padding-left: 25px;
}

aside{
    background-color: #7ABFBF;
}



figure{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
}

figure img{
    grid-column: 1;
    grid-row: 1 / span 4;
    width: 85%;
    
}

figcaption{
    grid-column-start: 2;
    grid-row-start: 1;
}

figure p{
    grid-column-start: 2;
    grid-row-start: 2;
    margin: 0;
    padding: 0;
}

figure h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}

figure div{
    grid-column-start: 2;
}

nav{
    width: 414px;
    background-color: #ffffff;
    position: fixed;
    top:0;
    z-index: 1; 
}

nav ul{
    text-align: center;
    margin: 0;
    list-style: none;
    overflow: hidden;
    max-height: 0;
    background-color: #ffffff;
    transition: max-height .5s ease-out;
}

nav a{
    display: block;
    text-decoration: none;
    color: #EB5428;
}

a img{
    visibility: hidden;
    height: 1px;
}

nav h2{
    visibility: hidden;
    height: 1px;
}

[href="#home"]{
    background-color: #EB5428;
    position: absolute;
    top: 0;
    left: 60px;
    padding: 0px 120px;
}



label{
    cursor: pointer;
    display: inline-block;
    
    position: relative;
    user-select: none;
}

label:hover{
    background-color: #EB5428;
    stroke: #ffffff;
}

#searchBar {
    position: absolute;
    top: 100px;
    margin: 0 auto;
}

input{
    display: none;
}

input:checked ~ ul{
    max-height: 500px;
}


footer{
    background-color: #ffffff;
}

footer h2, footer h3{
    visibility: hidden;
    height: 1px;
}

footer img{
    margin: 0 auto;
    width: 50%;
}

#copyright{
    display: flex;
    flex-direction: column-reverse;
    
}

footer p{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    margin: 10px auto;
    text-align: center;
    padding: 0px;
}


footer ul{
    width: 414px;
    list-style: none;
    display: flex;
    padding: 0;
    text-align: center;
}

footer li{
    flex: 1;
}

footer ul a{
    text-decoration: none;
    color: #EB5428;

}

footer svg{
    padding: 5px;
}